@using Constructor.Storage.Models;

@model RAM;
    <body>
        @using (Html.BeginForm("RedactRAM", "RAM", FormMethod.Post))
        {

            <label>Название   </label><input type="text" name="_Name" value=@Model.Name /><br />
            <label>Ссылка   </label><input type="text" name="_Img" value=@Model.Img /><br />
            <label>Количество   </label><input type="text" name="_Count" value=@Model.Count /><br />
            <label>Цена   </label><input type="text" name="_Cost" value=@Model.Cost /><br />
            <label>Объем</label><input type="text" name="_MemorySize" value=@Model.MemorySize /><br />
            <label>Тип памяти</label><input type="text" name="_MemoryType" value=@Model.MemoryType /><br />
            <label>ЕСС</label><input type="text" name="_ECC" value=@Model.ECC /><br />
            <input type="hidden" name="id" value="@Model.Id">
            <input type="submit" value="Изменить запись">
        }
        <br /><br /><br />
        @using (Html.BeginForm("MainPage", "Main"))
        {
            <input type="submit" value="В главное меню">
        }
    </body>